<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../core-style/core-style.html">

<!-- core components -->
<link rel="import" href="thelma_core.html">
<link rel="import" href="th-theme.html">

<!-- utils -->
<link rel="import" href="th-firebase.html">

<!-- text components -->
<link rel="import" href="th-quote-box.html">
<link rel="import" href="th-countup-num.html">
<link rel="import" href="th-reveal.html">
<link rel="import" href="th-two-column.html">
<link rel="import" href="th-footnote.html">
<link rel="import" href="th-multistep.html">
<link rel="import" href="th-text.html">
<link rel="import" href="th-table-bullets.html">
<link rel="import" href="th-tweet.html">
<link rel="import" href="th-story-link.html">
<link rel="import" href="th-stories.html">
<link rel="import" href="th-countdown-reveal.html">


<!-- chart components -->
<link rel="import" href="th-d3-chart.html">
<link rel="import" href="th-stacked-chart.html">
<link rel="import" href="th-spectrum-chart.html">
<link rel="import" href="th-n-bar-chart.html">
<link rel="import" href="th-n-bar-chart-horizontal.html">
<link rel="import" href="th-donut-chart.html">
<link rel="import" href="th-split-donut-chart.html">
<link rel="import" href="th-compare-grid-chart.html">
<link rel="import" href="th-line-graph.html">
<link rel="import" href="th-line-graph-single.html">
<link rel="import" href="th-compare-balance-chart.html">
<link rel="import" href="th-n-peak-chart.html">
<link rel="import" href="th-gauge-chart.html">

<link rel="import" href="th-map-us.html">

<link rel="import" href="th-carousel.html">

<!-- slider needs to be included here otherwise the included d3.js in other elements override the d3 object and remove the slider method
WEIRD!! shouldn't polymer provide encapsulation?
-->
<link rel="import" href="th-slider.html">
